/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos del header */

.nav-link{
    color: white;
}

header nav{
    display: inline-block;
    background-color: #2C314E
}

header nav ul li{
    background-color: #F8B179;
    border-radius: 30px;
    padding: 3px;  
}

.logo{
    width: 80%;
    border-radius: 100%;
}

/* estilos del footer */

footer{
    background-color: #2C314E;
    text-align: center;
    color: white;
}

/* estilos generales */

main{
    background-color:#540D11;
    color: whitesmoke;
    border: 5px solid #F8B179;
}

.main-generico{
    text-align: center;
}

.redondeo-imagen{
    border-radius: 5%;
    border: 5px solid #F8B179;
}


/* estilos de index mobile */

.index-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

.bienvenida{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-items: center;
    border-bottom: 5px solid #F8B179;
}

.explicacion{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.img-uno{
    width: 40%;
    border-radius: 5%;
    border: 5px solid #F8B179;
}

.img-dos{
    width: 80%;
}

/* estilos de index tablet */

@media screen and (min-width:600px){
    .bienvenida{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);
       text-align: start
    }

    .saludo{
       align-self: end
    }

    .actividad{
        align-self: baseline;
    }

    .img-uno{
        grid-row: span 2;
        height: 100%;
        width: 75%;
    }

    .img-dos{
        width: 65%;
    }
}


/* estilos de index desktop */
@media screen and (min-width: 1024px){
    .img-uno{
    width: 60%;
    height: 90%;
   }

   .img-dos{
    width: 50%;
   }
}


/* estilos de creaciones mobile */

.creaciones-main{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 50px;
    padding-bottom: 1rem;
    
}

.leyenda1{
    align-content: center;
}

/* estilos de creaciones tablet */

@media screen and (min-width:600px){

    #ejemplo1{
        display: flex;
        align-items: center;
    }

    #ejemplo2{
        display: flex;
        align-items: center;
    }

    #ejemplo3{
        display: flex;
        align-items: center;
    }

    #ejemplo4{
        display: flex;
        align-items: center;
    }
    
}


/* estilos de creaciones desktop */

@media screen and (min-width: 1024px){
    .creaciones-main{
        grid-template-rows: 0.5fr repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .leyenda1{
        grid-column: span 2;
    }

    #ejemplo1{
       flex-direction: column;
       justify-items: center;
    }

    #ejemplo1 p{
        width: 50%;
    }

    #ejemplo2{
        flex-direction: column;
    }

    #ejemplo2 p{
        width: 50%;
    }

    #ejemplo3{
        flex-direction: column;
    }

    #ejemplo3 p{
        width: 50%;
    }

    #ejemplo4{
        flex-direction: column;
    }

    #ejemplo4 p{    
        width: 50%;
    }


}


/* estilos de prueba algunas funciones */

#iframe1, #ubicacion{
    background-color: #FFC991;
}

#iframe2{
    background-color: #781027;
}

#iframe3{
    background-color: #9EF398;
}

#iframe4{
    background-color: #278796   ;
}

/* estilos de valoraciones */

#frase{
    border: 2px solid #278796;  
    display: inline-block;
    margin-top: 50px;
}

#formulario{
    margin-top: 50px;
    margin-bottom: 125px;
}

form{
    margin-top: 10px;
    margin-bottom: 10px;
}